<%- include("Layouts/header.ejs") %>

<div class="main">
  <div class="titleBox">
    <div class="titleText">
      <h1><%= listTitle %></h1>
      <h2><%= currentDate %></h2>
    </div>
  </div>
  <div class="form">
    <form action="/work" class="todoBox" method="post">
      <p>Enter your Todo</p>
      <input class="todoBox-input" name="todo" type="text" autocomplete="off" />
      <br />
      <div class="btnBox">
        <button
          type="submit"
          class="submit-btn"
          name="submitBtn"
          value="workList"
        >
          ADD
        </button>
      </div>
    </form>
  </div>
  <div class="listBox">
    <p>Your Todos</p>

    <div class="todos">
      <ul>
        <% workTodos.forEach(function(item) { %>
        <div class="listItem">
          <input type="checkbox" />
          <li><%= item %></li>
        </div>
        <% }); %>
      </ul>
    </div>
  </div>
</div>

<%- include("Layouts/footer.ejs") %>
